    .comment_list {
        width:100%;
    }
    .comment_list .msg_face, .comment_list .discussion_bubble_content {
        float: left;
    }
    .comment_list .comment_header {
        height: 33px;
        padding: 0 10px 0 6px;
        border-bottom: 1px solid #ccc;
        background-color: #e1e1e1;
        background-image: -moz-linear-gradient(#f8f8f8, #e1e1e1);
        background-image: -webkit-linear-gradient(#f8f8f8, #e1e1e1);
        background-image: linear-gradient(#f8f8f8, #e1e1e1);
        background-repeat: repeat-x;
        font-size: 12px;
    }
    .comment_list .discussion_bubble_content {
        padding: 3px;
        background: #eee;
        border-radius: 3px;
        width: 90%;
        float: left;
    }
    .comment_list .discussion_bubble_content .discussion_bubble_inner{
        min-height: 32px;
        border: 1px solid #CACACA;
        background-color: #fff;position: relative;}
    .comment_list .discussion_bubble_content .discussion_bubble_inner .comment_header_author{
        max-width: 600px;
        float: left;
        line-height: 33px;
        font-weight: bold;
        color: #222;
        text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;}
    .comment_list .discussion_bubble_content .discussion_bubble_inner .comment_header_date{
        float:right;
        display: inline-block;
        margin: 0;
        height: 33px;
        font-size: 11px;
        line-height: 33px;
        font-style: normal;
        color: #777;
        text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
        line-height: 33px;
    }
    .comment_list .discussion_bubble_content .discussion_bubble_inner .comment_content{
        padding: 10px;
    }
    .arrow {
        top:20px;
        position: absolute;
        margin: 0 0 0;
        margin: -1px 0 0/9;
        width: 19px;
        cursor: default;
    }

    .arrow * {
        font-family: "SimSun";
        overflow: hidden;
        font-size: 30px;
        line-height:40px;
        display: block;
        height: 40px;
    }
    .arrow em{
        color: #eee;
        font-style: normal;
        font-weight: normal;
    }
    .arrow span {
        color: #eee;
        margin: -12px 0 0 -1px;
    }
    .comment_box .arrow {
        left: -20px;
    }
    .comment_box .arrow span{
        margin-left:1px;
    }
    
    .replyContent textarea{
        width:500px;
        height:50px;
    }