.ztree {padding:0;}
.ztree li ul{ margin:0; padding:0}
.ztree li {line-height: 30px;}
.ztree li a {height:30px !important;line-height: 30px;padding: 0px;display: block;}
.ztree li a:hover {text-decoration:none; background-color: #E7E7E7;}
.ztree li a.curSelectedNode, .ztree li.selfSelectedNode{background-color:#D4D4D4;border:0;}
.ztree li a.level0.curSelectedNode{background-color: transparent;}
.ztree li span {line-height:30px;}
.ztree li span.button {margin-top: -3px;}
.ztree li span.button.switch {width: 20px;height: 20px;line-height: 20px;}
.ztree li a.level0 span {font-size:14px;font-weight: bold;}
.ztree li span.button {background-image:url("../img/tree/zTreeSwitch.png"); *background-image:url("../img/tree/zTreeSwitch.gif")}
.ztree li span.button.ico_open, .ztree li span.button.ico_close {vertical-align: middle;}

.ztree li span.button.switch.level1 {width: 20px; height:20px}
.ztree li span.button.noline_open {background-position: 0 0;}
.ztree li span.button.noline_close {background-position: -18px 0;}
.ztree li span.button.noline_open.level0 {background-position: 0 -18px;}
.ztree li span.button.noline_close.level0 {background-position: -18px -18px;}

/*组织机构列表选中状态切换*/
.ztree .avator_big.selfSelectedNode{}
.ztree .avator_big.selfSelectedNode a{height:56px !important;}
.ztree .space{display: inline-block;}
.ztree .desc{color:#808080;margin-left: 5px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;display: none;}
.ztree .user_avator{width:20px;height:20px;}
.ztree .user_funcs{margin: 0 4px;height: 14px;line-height: 14px;text-align: center;display: none;}
.ztree .user_funcs.user_send_msg{vertical-align: -1px;}
.ztree .user_funcs.user_send_email{}
.ztree .avator_big{position: relative;}
.ztree .avator_big .user_name{position: absolute;top:3px;}
.ztree .avator_big .desc{position: absolute;top:25px;margin-left: 0;display: inline-block;}
.ztree .avator_big .user_avator{width:40px;height:40px;margin-top: 8px;margin-right: 5px;}