.treeview li .tree-icon { width:16px;height:16px; }
.treeview li.expandable .tree-icon { background: url(../img/tree/folder/folder.gif) 0 0 no-repeat; }
.treeview li.collapsable .tree-icon { background: url(../img/tree/folder/folder_open.gif) 0 0 no-repeat; }