.treeview, .treeview ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview .hitarea {
	background: url(../img/tree/icons.gif) no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
	margin-top:2px;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a {
	display: inline-block;
    color: #666;
    text-decoration: none;
    vertical-align: top;
    margin: 0px;
    margin-left: 3px;
    outline: 0; 
    border: 0px solid white;
    padding:3px 2px;
}

.treeview li span{
	display: inline-block;
	margin:2px 3px 0 2px
}
/*.treeview a.selected {
	background-color: #eee;
}*/

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover {     
	border-color: #eeeeee;
    background-color: #82bbe9;
    color: #fff;
    border-radius: 2px;
}

.treeview li { background: none; }

.treeview .expandable-hitarea { background-position: 0px -80px; }
.treeview .expandable-hitarea:hover { background-position: -16px -80px; }
.treeview .collapsable-hitarea { background-position: -32px -80px; }
.treeview .collapsable-hitarea:hover { background-position: -48px -80px; }


.treeview .placeholder {
	background: url(./img/tree/loading.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

.treeview li .tree-icon { width:16px;height:16px; }
.treeview li.expandable .tree-icon { background: url(../img/tree/folder/folder.gif) 0 0 no-repeat; }
.treeview li.collapsable .tree-icon { background: url(../img/tree/folder/folder_open.gif) 0 0 no-repeat; }